manifest {
    name            = 'nf-core/testpipeline'
    author          = 'nf-core'
    homePage        = 'https://github.com/nf-core/testpipeline'
    description     = 'An example pipeline used to test new nf-core infrastructure and common code.'
    mainScript      = 'main.nf'
    nextflowVersion = '!>=21.10.3'
    version         = '2.0'
}
