process { withName: 'NFCORE_TESTPIPELINE:TESTPIPELINE:FASTQC'  { conda = 'https://wave.seqera.io/v1alpha1/builds/bd-d56b505a93aef38a_1/condalock' } }
process { withName: 'NFCORE_TESTPIPELINE:TESTPIPELINE:MULTIQC' { conda = 'https://wave.seqera.io/v1alpha1/builds/bd-aee0064f5570ef22_1/condalock' } }
