process { withName: 'NFCORE_TESTPIPELINE:TESTPIPELINE:FASTQC'  { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/fd/fd39534bf298698cbe3ee4d4a6f1e73330ec4bca44c38dd9a4d06cb5ea838017/data' } }
process { withName: 'NFCORE_TESTPIPELINE:TESTPIPELINE:MULTIQC' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/f0/f02c59ebf6e9a00aa954ee8188a4ecc5c743e18f40b9215a242f67606a00f9cf/data' } }
