/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for Genome paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines reference genomes using Genome paths.
    Can be populated using the Refgenie populater command:
        refgenie populater --file conf/genomes.config.tpl > conf/genomes.config
----------------------------------------------------------------------------------------
*/

params {
    // illumina iGenomes reference file paths
    genomes {
        'GRCh37' {
            fasta       = "http://awspds.refgenie.databio.org/aws_igenomes/db6d7911594e2ca6bb2f834cf080c3131b390d7cf42e4fae/fasta__samtools-1.10/db6d7911594e2ca6bb2f834cf080c3131b390d7cf42e4fae.fa"
            bwa         = "http://awspds.refgenie.databio.org/aws_igenomes/db6d7911594e2ca6bb2f834cf080c3131b390d7cf42e4fae/bwa_index__0.7.17/db6d7911594e2ca6bb2f834cf080c3131b390d7cf42e4fae.fa"
            bowtie2     = "http://awspds.refgenie.databio.org/aws_igenomes/db6d7911594e2ca6bb2f834cf080c3131b390d7cf42e4fae/bowtie2_index__2.4.1/db6d7911594e2ca6bb2f834cf080c3131b390d7cf42e4fae"
            star        = "http://awspds.refgenie.databio.org/aws_igenomes/db6d7911594e2ca6bb2f834cf080c3131b390d7cf42e4fae/star_index__2.7.3a/."
            bismark     = "http://awspds.refgenie.databio.org/aws_igenomes/db6d7911594e2ca6bb2f834cf080c3131b390d7cf42e4fae/bismark_bt2_index__0.22.1/."
            gtf         = "--://homo_sapiens-ensembl-grch37/gtf"
            bed12       = "--://homo_sapiens-ensembl-grch37/bed12"
            readme      = "--://homo_sapiens-ensembl-grch37/readme"
            mito_name   = "MT"
            macs_gsize  = "2.7e9"
            blacklist   = "--://homo_sapiens-ensembl-grch37/blacklist"
            test        = "this will fail as it's added manually after populating the file."
        }
    }
}
